.cover {
    background-image: url('../../assets/bgcover2.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro-block {
    display: flex;
    flex-direction: column;
    padding: 36px;
    /* height: 200px;
    width: 200px; */
    font-size: 20pt;
    font-weight: 500;
    background-color: #fff;
    font-weight: 800;
    /* font-family:Verdana, Geneva, Tahoma, sans-serif; */
    /* font-family: "JosefinSans-Bold"; */
    /* font-family: "Poppins"; */
    font-family: "Copperplate";
}

.experience {
    display: flex;
    color: white;
    flex-direction: column;
    padding: 20px;
    justify-items: center;
    align-items: center;
}

.current {
    font-size: 16pt;
    font-weight: 500;
}

.total-exp {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    /* justify-items: center; */
    justify-content: space-between;
}

.exp-item {
    flex: 1;
    border-right: 0.1px solid white;
    align-self: stretch; 
    box-sizing: border-box;
}

.years {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.exp-item:last-of-type {    
    border-right: 0px;
}
.number {
    font-size: 20pt;
    font-weight: 600;
    margin-top: 20px;
}
.detail {
    margin: 10px;
}
.detail {
    width: 200px;
}