.navbar {
    background-color: rgb(22, 22, 22);
    color: #1d263b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    transition: background-color 0.3s ease, padding 0.3s ease;
    z-index: 100;
    width: 100%;
    box-shadow: 0 8px 8px -4px #333;
  }
  
  .navbar a {
    color: #1d263b;
    text-decoration: none;
    margin: 0 1.5rem;
    cursor: pointer;
    padding: 10px;
  }
  
  .navbar a:hover {
    /* border-bottom: 0.5px solid;
    padding: 10px; */
  }
  .name-logo {
    padding: 14px;
    padding: 10px;
    background-color: #000;
    opacity: 0.92;
    z-index: 0;
    color: #fff;
    font-size: 14pt;
    margin: 10px;
    font-weight: 600;
  }
  .navbar.scrolled {
    background-color: #fff;
  }
  .navbar.invisible {
    display: none;
  }
  .resume {
    font-weight: 600;
  }