/* AboutMe.css */
.about-me-container {
    /* margin: 40px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    opacity: 0.8;
    color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */

    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    background-color: #000;
    opacity: 0.92;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
}

.about-me-container h2 {
    color: #fff;
    border-bottom: 0.3px solid #fff;
    padding-bottom: 10px;
}

.about-me-container p {
    line-height: 1.6;
    margin-bottom: 15px;
}

.about-me-container a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.about-me-container a:hover {
    text-decoration: underline;
}

.about-me-details {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    margin: 20px;
}

.photos {
    width: 40%;
    height: auto;
    min-height: 400px;
    margin: 20px;
    /* background: transparent; */
    /* opacity: auto; */
    position: relative;
}

.album-container {
    position: relative;
}

.album-container>img {
    width: 100%;
    height: 100%;
    max-height: 328px;
}

.about-me-para {
    margin: 8px;
    text-align: justify;
    font-size: 16px;
}
.prev-btn {
    position: absolute;
    top: calc(50% - 12px);
    left: calc(-7%);
}
.next-btn {
    position: absolute;
    top: 50%;
    top: calc(50% - 12px);
    right: calc(-7%);
}
.prev-btn>img, .next-btn>img {
    width: 24px;
    height: auto;
    user-select: none;
    cursor: pointer;
}
.caption {
    font-size: 12px;
    text-align: start;
    font-style: italic;
}